<app-page-container [title]="'Collection with movies'"
                    [backButton]="true"
                    (notifyOnBack)="back()">
    <div pageContent>
        <mat-card *ngIf="movies && movies.length > 0">
            <mat-card-header>
                <mat-card-title *ngIf="collection && collection.title">
                    {{ collection.title}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-nav-list role="navigation">
                    <mat-list-item *ngFor="let movie of movies">
                        <a matLine (click)="showInfo(movie.id)" >
                            <img *ngIf="movie.poster_path" style="vertical-align: middle;" matListAvatar src="{{ imageBaseUrl }}{{ movie.poster_path }}" [alt]="movie.title"/>
                            <span style="width: 70%; display: inline-block; vertical-align: middle; padding-left: 1em;"><b> {{ movie.title }} </b></span><span styel="text-align: right;"> Votes: {{ movie.vote_average }} / 10</span>
                        </a>
                        <button mat-icon-button (click)="remove(movie.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-nav-list>
            </mat-card-content>
        </mat-card>
    </div>
</app-page-container>

