@import "./variables";

.site-sidenav {
    background: @bgNavBar !important;
    box-shadow: 0 3px 16px -5px rgba(0,0,0,.2) !important;
    border-right: 1px solid @bgGrey;

    header {
        text-align:center;
        padding:36pt 0;
        background: @bgNavBar;
        width: 100%;
        display: table;
        &.full {
            padding: 0 10pt;
        }
    }
    ul {
        li {
            background: @bgNavBar;
            text-align: center;
            list-style: none;
            border-top: 1px solid @divider;
            &:last-child {
                border-bottom: 1px solid @divider;
            }
            &:hover {
                background: #01d277;
                a {
                    border-left:4px solid #01d277;
                    color: @bgWhite;
                }

            }
            &.full {
                text-align: left;
                a {
                    &:hover {
                        border-left:4px solid #01d277;
                    }
                    border-left:4px solid @bgNavBar;
                    padding: 8pt 30pt 8pt 20pt;
                    span {
                        padding-left:6pt;
                        font-size:12pt;
                    }
                }
            }
            a {
                text-decoration:none;
                padding: 8pt 2pt 4pt;
                color: rgba(255,255,255,0.6);
                display:block;
                border-left:4px solid @bgNavBar;
                &.active {
                    border-left: 4px solid #01d277;
                }
                .icon {
                    font-size:24pt;
                }
            }

        }
    }


}



