@import "./variables";

@toolbar-desktop-height: 64px;
@toolbar-mobile-height: 56px;
.toolbar {
    height: @toolbar-mobile-height;
    background: #f9f9f9 !important;
    color: @text-color;
    border-bottom: 1px solid @divider;
    z-index: 2;
    position: absolute;
    .left {
        flex: 0 1 20%
    }

    .right {
        flex: 1 1 auto;
        text-align: right;
        font-size: 14px !important;
    }
}

@media screen and (min-width: @break-point) {
    .toolbar {
        height: @toolbar-desktop-height;
        .left {
            flex: 0 1 30%
        }
        .right {
            flex: 1 1 auto;
        }
    }
}