﻿@images-path: '../images';

@alternative-text: #818787;
@alternative-color: #ecefef;
@alternative-color-hover: #d1d7d7;
@neutral-color: #8F999D;
@neutral-color-hover: #cfd4d4;
@text-color: #232629;
@paragraph: rgba(41, 50, 48, 0.9);
@sublabel: rgba(41, 50, 48, 0.6);
@form-tabs: #f6f6f6;
@form-tabs-hover: #e5e5e5;
@divider: #E0E5E6;
@bgNavBar: #081c24;
@bgGrey: #ECF0F1;
@bgWhite: #FFFFFF;
@h2Color: #35403f;
@disabled: #8f999d;
@disabledButtonColor: #cdd2d3;


@primary-font-size: 16px;
@primary-font-families: "Roboto", sans-serif;

@break-point: 55em;
@large-break-point: 60em;
