<ng-template [ngIf]="data && data.movie">

    <h2 mat-dialog-title>{{ data.movie.title }}</h2>

    <mat-dialog-content class="mat-typography">

        <p>{{ data.movie.overview }}</p>
        <div class="movie-dialog-details">
            <div class="image">
                <img *ngIf="data.movie.poster_path" src="{{ imageBaseUrl }}{{ data.movie.poster_path }}" style="max-height: 400px" [alt]="data.movie.title"/>
            </div>
            <div class="info">
                <h4><b>Budget:</b> {{ data.movie.budget }}</h4>
                <h4><b>Release Date:</b> {{ data.movie.release_date }}</h4>
                <h4><b>Revenue:</b> {{ data.movie.revenue }}</h4>
                <h4><b>Average vote:</b> {{ data.movie.vote_average }}</h4>
                <h4><b>Vote count:</b> {{ data.movie.vote_count }}</h4>
                <h4><b>Spoken Languages:</b></h4>
                <ul>
                    <li *ngFor="let lang of data.movie.spoken_languages">
                        <h4>{{ lang.name }}</h4>
                    </li>
                </ul>
                <hr />
                <div *ngIf="showRate">
                    <h2 class="example-h2">Rate Movie: </h2>
                    <p>Please select between 0.5 and 10 and press the rate button</p>
                    <mat-slider style="width: 60%"
                        class="example-margin"
                        [max]="'10'"
                        [min]="'0.5'"
                        [step]="'0.5'"
                        [thumbLabel]="true"
                        [(ngModel)]="rateValue">
                    </mat-slider>
                    <button mat-flat-button color="primary" (click)="submitRate()">
                        Submit your rate
                    </button>
                </div>
                <div *ngIf="!showRate">
                    <h3>You successfully rated the movie!</h3>
                </div>
            </div>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
    </mat-dialog-actions>

</ng-template>
