.movie-dialog-details {
    display: flex;
    .image {
        padding: 1em 1em 1em 0;
        flex: 0 1 auto;
    }
    .info {
        padding: 1em 0 1em 1em;
        flex: 1 1 auto;
    }

    h3 {
        text-align: center;
        padding: 2em 0;
        font-weight: bold;
        color: green;
    }

}