<!-- SIDE MENU BAR -->
<mat-sidenav-container fullscreen >
    <!-- TOP BAR -->
    <mat-toolbar class="toolbar">
        <div class="item left">
            <div class="menu-option" *ngIf="!opening">
                <button aria-label="menu" mat-icon-button (click)="openClose()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>
        <div class="item right">
            Created by Krik Tsakmatzian
        </div>
    </mat-toolbar>

    <mat-sidenav class="site-sidenav" #start mode="{{mode}}" [opened]="opening">
        <header class="nav-header">
            <div class="name">
                <img src="./assets/images/the-movie-db-logo.svg" role="presentation" style="height: 100px;">
            </div>
        </header>
        <ul>
            <ng-template ngFor let-item [ngForOf]="sidebarOptions">
                <li [ngClass]="{'full' : menu, 'active': active }">
                    <a routerLink="/{{item.routeParam}}" routerLinkActive="active" (click)="openClose()">
                        <span>{{ item.title }}</span>
                    </a>
                </li>
            </ng-template>
        </ul>
    </mat-sidenav>

    <router-outlet></router-outlet>

</mat-sidenav-container>
