@import "../styles/variables";

.page-error {
    h1 {
        text-align: center;
        font-size: 2em;
        color: @paragraph;
        font-weight: 500;
        margin: 1.25em 0 0.25em;
    }
    h4 {
        text-align: center;
        font-weight: 300;
        margin-bottom: 1.4em;
    }
}


@media screen and (min-width: @break-point) {
    .page-error {
        h1 {
            font-size: 4em;
            margin: 0.5em 0 0.25em;
        }
    }
}