<app-page-container class="edit-movies-collection"
                title="Movies Collection: {{ action }}"
                [backButton]="true"
                (notifyOnBack)="back()">

    <div pageContent>
        <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" >
            <mat-form-field class="full-width">
                <input matInput placeholder="Collection Title" name="title" [(ngModel)]="collection.title">
            </mat-form-field>

            <mat-form-field class="full-width">
                <textarea matInput placeholder="Write a description" name="description" [(ngModel)]="collection.description"></textarea>
            </mat-form-field>
        </form>
        <button mat-flat-button color="primary" aria-label="submit" type="submit" (click)="onSubmit(editForm)">
             Save
        </button>
        <button mat-flat-button aria-label="back" (click)="back()" type="reset">
            Cancel
        </button>
    </div>
</app-page-container>
