<div class="page-card">
    <ng-template #titleTmpl >
        <div class="page-card-header" [ngClass]="mainClass == true ? 'main' : ''">
            <button aria-label="back" *ngIf="backButton" class="back-button" mat-icon-button (click)="onBack()" >
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
            <h3 class="title">
                {{ title }}
            </h3>
        </div>
    </ng-template>
    <ng-template [ngTemplateOutlet]="titleTmpl"></ng-template>
    <div appPageHeader>
        <ng-template [ngTemplateOutlet]="titleTmpl"></ng-template>
    </div>

    <div #pageContent class="content">
        <ng-content select="[pageContent]"></ng-content>
    </div>
</div>