@import "../styles/variables";

/* Card for main page */
.page-card {
    overflow: hidden;
    background: none;
    margin: 0;
    padding: 0;
    .content {
        margin-top: 64px;
        padding: 1.75em 2em;
        overflow-y: auto;
        overflow-x: hidden;
         /* To smooth any scrolling behavior iOS */
        -webkit-overflow-scrolling: touch;
    }

    &-header  {
        position: absolute;
        top: 4px;
        left:0;
        display: flex;
        border-top: 0px;
        align-items: center;
        height: 52px;
        padding-left: 1.5em;
        z-index: 2;
        &:after {
            content: '';
            display: block;
        }


        .title {
            font-size: 16pt;
            font-weight: 400;
            color: #9aa2a6;
            flex: 0 1 auto;
        }
    }
}

@media screen and (max-width: @break-point) {
    .page-card {
        .page-loader {
            top: 0px;
        }
        .content {
            margin-top: 5px;
        }
        .page-card-header {
            display: none;
        }
    }
}