.movies-collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    mat-card {
        flex: 0 1 25%;
        background: #f9f9f9;
        border: 1px solid #e0e5e6;
    }
}