<app-page-container [title]="'My Movies Collections'">
    <div pageContent>
        <div class="movies-collections">
            <mat-card *ngFor="let card of cards" (click)="movieList(card.id)">
                <mat-card-header>
                    <mat-card-title><b>Collection title:</b> {{ card.title }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p style="padding:2em 1em">
                    {{ card. description }}
                    </p>
                </mat-card-content>
            </mat-card>
            <h3 *ngIf="cards && cards.length > 0" style="position: absolute; bottom: 1em; right: 1.5em;"> Add new collection  <button mat-mini-fab color="primary" (click)="addNew()"><mat-icon>add</mat-icon></button></h3>
            <div *ngIf="!cards || cards.length === 0" >
                <h2 style="text-align: center; margin: 3em 0 2em;"> You don't have any movie collection! Create one</h2>
                <h3 style="text-align: center;"> Add new collection  <button mat-mini-fab color="primary" (click)="addNew()"><mat-icon>add</mat-icon></button></h3>
            </div>
        </div>

    </div>
</app-page-container>

