    <h2 mat-dialog-title>Save in a collection</h2>
    <mat-dialog-content class="mat-typography">
        <div class="movies-collections">
            <mat-card *ngFor="let collection of collections" (click)="addToColleciton(collection.id)">
                <mat-card-header>
                    <mat-card-title><b>Collection title:</b> {{ collection.title }}</mat-card-title>
                </mat-card-header>
            </mat-card>
            <h3 *ngIf="!collections || collections.length === 0">You don't have any movie collection</h3>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
    </mat-dialog-actions>
