@import (inline) "./app/core/styles/cssreset-min.css";
@import "./app/core/styles/variables";

body {
    font-family: @primary-font-families;
    font-size: @primary-font-size;
    background: @bgWhite;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
    font-size: 3.5em;
    letter-spacing: 1px;
}

h2 {
    font-size:1.625em;
}

h3 {
    font-size: 1.250em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.875em;
}

h6 {
    font-size: 0.5em;
}

p {
    font-weight: 400;
    font-size: 0.875em;
}

small {
    font-weight: 400;
    line-height: 100%;
    font-size: 0.750em;
}

label {
    font-weight: 500;
    font-size: 12pt;
}

a {
    font-weight: bold;
    font-size: 16pt;
}


.mat-input-element {
    box-shadow: none !important;
    margin-bottom: 0 !important;
}

.center {
  text-align: center;
}

.hidden {
  display: none!important;
}

.clear {
  clear: both;
}

.mat-input-wrapper {
    margin: 8px 0!important;
}

.mat-drawer-container {
    background: @bgWhite!important;
}
mat-sidenav-layout {
    background: @bgWhite!important;
}


/* AUTOCOMPLETE */

.autocomplete {
    width: 100%;

    .autocomplete-loader {
        width:inherit;
        z-index:10;
        mat-progress-spinner {
            right: 0px;
            position: absolute;
            top: 6px;
            width: 20px!important;
            height: 20px!important;
            svg {
                width: 20px!important;
                height: 20px!important;
            }
        }
    }
    .autocomplete-clear {
        width:inherit;
        z-index:10;
        cursor: pointer;
        mat-icon {
            color: #1C5074;
            color: var(--primary-color);
            font-size: 14pt;
            right: -5px;
            position: absolute;
            top: 7px;
        }
    }
}

/* ICONS */

.mat-icon-button:hover {
    background-color: rgba(0,0,0,.12);
    border-radius: 50%;
    opacity: 1;
    transition: opacity .2s cubic-bezier(.35,0,.25,1),background-color .2s cubic-bezier(.35,0,.25,1);
}



/*------ end of DEFAULT CSS ------*/

@media screen and (min-width: @break-point) {
    h1 {
        font-size: 4.5em;
    }

    h2 {
        font-size:2em;
    }

    h3 {
        font-size: 1.625em;
    }

    h4 {
        font-size: 1.250em;
    }

    h5 {
        font-size: 1em;
    }

    h6 {
        font-size: 0.875em;
    }

    .row {
      max-width:100%;
      padding: 0 1.75438596%;
    }

}
