<app-page-container [title]="'Search a Movie'">
    <div pageContent>
        <div class="search">
            <mat-form-field class="autocomplete">
                <input matInput appSearchValidator #term
                                    [(ngModel)]="inputSelected"
                                    [placeholder]="placeholder"
                                    [disabled]="disabled"
                                    (keyup)="search(term.value)">
                <div class="autocomplete-clear" *ngIf="!loading && !disabled && inputSelected && inputSelected.length > 0" (click)="clearInput($event)"  >
                    <mat-icon>clear</mat-icon>
                </div>
                <div class="autocomplete-loader" *ngIf="loading">
                    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                </div>
            </mat-form-field>

            <mat-card *ngIf="items && items.length > 0">
                <mat-card-header>
                    <mat-card-title *ngIf="pager && pager.total_results">
                        Search completed
                    </mat-card-title>
                    <mat-card-subtitle>
                        results {{ pager.page > 1 ? (pager.page - 1) * 20 + 1 : 1}} to {{ pager.total_results > pager.page * 20 ? pager.page * 20 : pager.total_results}} of total {{ pager.total_results }} movies
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-nav-list role="navigation">
                        <mat-list-item *ngFor="let item of items | paginate: { itemsPerPage: 20, currentPage: pager.page, totalItems: pager.total_results }">
                            <a matLine (click)="showInfo(item.id)" >
                                <img *ngIf="item.poster_path" style="vertical-align: middle;" matListAvatar src="{{ imageBaseUrl }}{{ item.poster_path }}" [alt]="item.title"/>
                                <span style="width: 70%; display: inline-block; vertical-align: middle; padding-left: 1em;"><b> {{ item.title }} </b></span><span styel="text-align: right;"> Votes: {{ item.vote_average }} / 10</span>
                            </a>
                            <button mat-icon-button (click)="addToCollection(item)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </mat-list-item>
                    </mat-nav-list>
                </mat-card-content>
                <mat-card-actions>
                    <pagination-controls class="my-pagination" *ngIf="pager && pager.total_results"
                        (pageChange)="pageChanged($event)"
                        maxSize="9"
                        directionLinks="true"
                        autoHide="true"
                        responsive="true"
                        previousLabel="Previous"
                        nextLabel="Next"
                        screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page"></pagination-controls>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</app-page-container>

