.search {
    box-sizing: border-box;
    width: 100%;
    margin-top: 2em;
    .mat-form-field {
        width: 60%;
        min-width: 300px;
    }
    .my-pagination /deep/ .ngx-pagination .current {
        background: #01d277!important;
    }


}

